/* russo-one-regular - latin_cyrillic */
@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/russo-one-v9-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/russo-one-v9-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/russo-one-v9-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/russo-one-v9-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/russo-one-v9-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/russo-one-v9-latin_cyrillic-regular.svg#RussoOne') format('svg'); /* Legacy iOS */
  }
  
html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Russo One';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: white;
}
.wrapper{
    width: 1440px; 
    padding: 10px; 
    margin: auto; 
    background: #21232E;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.wrapper__header{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 16px;
}
.header__menu-ico{
    position:relative;
    top: -14px;
    padding-left: 40px;
}
.header__logo-pic1{
    padding-left: 49px;
}
.header__logo-pic2{
    position:relative;
    left:-15px;
}
.header__nav{
    position:relative;
    top: -50px;
    left: 351px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.header__item{
    margin-right: 32px;
}
.header__link{
    font-size: 18px;
    line-height: 2px;
    color: white;
    text-decoration: none;
    list-style-type: square;
    
}
.header__link:hover, .header__link:focus, .header__link:active{
    opacity: 0.50;
}