@charset "UTF-8";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ol,
ul {
  padding: 0;
}

body {
  font-family: 'MyriadProRegular';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px;
}

.header {
  position: fixed;
  height: 72px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.wrapper {
  width: 100%;
  height: 72px;
  margin: auto;
  background: #21232E;
}

.wrapper__header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  top: -10px;
  position: relative;
  justify-content: center;
}

.header__link {
  font-size: 18px;
  line-height: 2px;
  color: white;
  text-decoration: none;
  list-style-type: square;
}

.header__nav {
  display: flex;
  align-items: flex-end;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  line-height: 180%;
}

.menu__inner {
  display: flex;
}

.headerList {
  margin: 0 0 -55px -18.49%;
  position: absolute;
}

.header__item {
  margin-right: 32px;
}

.header__item:last-child {
  margin-right: 0px;
}

.header__link:hover,
.header__link:active {
  opacity: 0.50;
}

.header_logo {
  margin: 0 0 -49px -76.2%;
  position: absolute;
}

.header__menu-ico {
  margin: 0px 49px 12px 40px;
}

.header__logo-pic {
  margin-left: 48px;
}

.icon-Play:before {
  content: "\e90d";
  color: #fff;
}

.Search {
  margin: 0 0 -64px 31.4%;
  position: absolute;
}

.hiuser {
  display: none;
  position: absolute;
  left: 66.5%;
  top: 15px;
  color: #fff;
}

.spanhiuser {
  color: #78BC27;
}

.iconAccount {
  font-size: 24px;
  margin: 0 0 -34px 77%;
  position: absolute;
  text-decoration: none;
  display: none;
}

.nomber {
  margin: 0 0 -34px 56%;
  position: absolute;
  color: white;
  font-family: 'MyriadProBold';
}

.CallBack {
  margin: 0 0 -45px 74.3%;
  position: absolute;
  text-align: center;
  width: 86px;
  height: 44px;
  border: 1px solid #78bc27;
  border-radius: 4px;
  line-height: 18px;
}

.textcallback {
  font-size: 14px;
  line-height: 18px;
  width: 76px;
  height: 36px;
  font-family: 'MyriadProRegular';
  color: #78bc27;
  line-height: 0px;
  text-decoration: none;
}

.iconScale {
  font-size: 24px;
  margin: 0 0 -34px 86%;
  position: absolute;
  text-decoration: none;
}

.iconCart {
  font-size: 24px;
  position: absolute;
  margin: 0 0 -34px 94%;
  text-decoration: none;
}

/* Слайдер */

.slick-slider {
  min-width: 100%;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */

/* Слайд активный */

/* Слайд основной */

/* Слайд по центру */

/* Стрелка */

/* Стрелка влево */

.slick-arrow.slick-prev {
  border-width: 0px;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  border-width: 0px;
}

/* Стрелка не активная */

/* Точки */

/* Конкретный слайдер */

.slider {
  position: relative;
  padding: 64px 0px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 48px;
  height: 48px;
}

.slider .slick-arrow.slick-prev {
  left: 39px;
  background: url("../img/banner/ButtonLeft.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 39px;
  background: url("../img/banner/ButtonRigth.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -50px 0px 0px 0px;
  border-width: 0;
  position: relative;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

.slider__item {
  padding: 0px 15px;
}

.slider__item img {
  max-width: 100%;
}

.button {
  color: white;
  font-family: 'MyriadProRegular';
  font-size: 16px;
  text-decoration: none;
  padding: 17px;
  line-height: 50px;
}

.button_conteiner {
  margin-top: 180px;
  position: relative;
  border-radius: 80px;
  background: #78bc27;
  width: 166px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}

.iconabout {
  text-decoration: none;
}

.button_conteiner404 {
  margin-bottom: 48px;
  position: relative;
  border-radius: 80px;
  background: #78bc27;
  width: 200px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  margin: 0;
  padding: 0;
}

.frame49 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 32px 0px 0 0;
}

.rectangle1 {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  width: 258px;
  height: 259px;
  border: 1px solid #E5E6E7;
}

.rectangle2 {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  width: 228px;
  height: 259px;
  border: 1px solid #E5E6E7;
}

.rectangle3 {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  width: 231px;
  height: 259px;
  border: 1px solid #E5E6E7;
}

.rectangle4 {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  width: 232px;
  height: 259px;
  border: 1px solid #E5E6E7;
}

.rectangle5 {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  width: 230px;
  height: 259px;
  border: 1px solid #E5E6E7;
}

.rectangle6 {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  width: 257px;
  height: 259px;
  border: 1px solid #E5E6E7;
}

.image1 {
  margin: 32px 25px 0px 29px;
}

.image2 {
  margin: 32px 23px 1px 23px;
}

.image3 {
  margin: 32px 23px 1px 23px;
}

.image4 {
  margin: 32px 23px 1px 23px;
}

.image5 {
  margin: 32px 23px 1px 23px;
}

.image6 {
  margin: 32px 23px 1px 23px;
}

.rectangletext {
  margin: 10px 0px 0px 35px;
}

.popylar {
  text-align: center;
}

.textpopylarh2 {
  margin: 0;
  padding: 59px 0 0 12px;
  font-size: 32px;
  line-height: 32px;
  font-family: 'MyriadProBold';
}

.textpopylarp {
  margin: 0;
  padding: 11px 0px 33px 13px;
  font-size: 18px;
  line-height: 24px;
}

.popylertexth4 {
  font-family: 'MyriadProBold';
  font-size: 20px;
  line-height: 24px;
  margin: 24px 0 0 1px;
}

.flexpopylar {
  margin-left: 9px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.popylarimageon {
  background-color: #F3F4F2;
}

.contenerpop {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 347px;
  height: 461;
  border: 1px solid #E5E6E7;
}

.textinfopopylar {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 10px 0 0 4px;
}

.textinfopopylarpince {
  font-family: 'MyriadProBold';
  font-style: normal;
  font-size: 32px;
  line-height: 32px;
  margin: 39px 0 -10px 0px;
}

.popylarimage1 {
  margin: 0px 0px -20px 0px;
}

.bestchoice {
  margin: -13px 0px 0px 6px;
}

.discount {
  margin-top: 58px;
}

.productcatalog {
  padding: 53px 0px 0px 15px;
  display: flex;
  justify-content: center;
}

.pconteiner1,
.upblock2,
.upblock1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pconteiner1 {
  margin-left: 46px;
}

.flexposition {
  display: flex;
  flex-wrap: wrap;
  margin: 1px 1px 1px 1px;
}

.upblock1 {
  background-color: #E5E6E7;
  width: 666px;
  margin: 0px 30px 0px 0px;
}

.upblock2 {
  border: 2px solid #78BC27;
  width: 666px;
  margin: 0px 0px 0px 0px;
}

.block1text1 {
  color: #5F626B;
  font-family: 'MyriadProBold';
  font-size: 44px;
  line-height: 44px;
  margin: 13px 0 0 0px;
}

.block1text2 {
  color: #5F626B;
  width: 341px;
  height: 129px;
  margin: 20px -42px 0px 0px;
}

.block2text1 {
  color: #5F626B;
  font-family: 'MyriadProBold';
  font-size: 44px;
  line-height: 44px;
  margin: 10px 0px 0px 0px;
}

.block2text2 {
  color: #5F626B;
  width: 220px;
  margin: 20px 0px 0px 0px;
}

.block2text3 {
  color: #5F626B;
  font-family: 'MyriadProBold';
  font-size: 24px;
  line-height: 28px;
  margin: 17px 0px 36px 0px;
}

.blockimg2 {
  margin: 8px -10px 0px 10px;
}

.blockimg1,
.blockimg1pic {
  margin: 0 -50px -3px -15px;
}

.block2 {
  margin: 0 0 0 26px;
}

.blocklatintext {
  padding-bottom: 64px;
  height: auto;
  background-color: #F3F4F2;
  display: block;
  margin-top: 69px;
}

.latintext {
  padding: 26px 0 0 15px;
  text-align: center;
  width: 899px;
  display: block;
  margin: auto;
  font-size: 14px;
  line-height: 18px;
}

.h2latintext {
  padding-left: 15px;
  padding-top: 60px;
  color: #9EA1A7;
  font-size: 32px;
  line-height: 32px;
  font-family: 'MyriadProBold';
  text-align: center;
}

.platintext {
  color: #9EA1A7;
  text-align: center;
  margin: 0 auto;
  width: 68%;
  font-size: 14px;
  line-height: 18px;
}

.blockfooter {
  width: 100%;
  background-color: #333640;
  display: block;
  margin: auto;
}

.flexblock {
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding-top: 47px;
  margin-left: -40px;
  justify-content: center;
}

.listfootertext {
  margin: 22px 0px 0px 0px;
}

.socialcommynity {
  margin: 23px 0px 0px 0px;
}

.footertext {
  width: 202px;
  color: #E5E6E7;
  font-size: 14px;
}

.blockfootertext {
  line-height: 13px;
  margin-top: 15px;
}

.footorblock2 {
  line-height: 40px;
  padding-left: 155px;
}

.footorblock3 {
  line-height: 40px;
  padding-left: 141px;
}

.footorblock4 {
  line-height: 42px;
  padding-left: 92px;
  width: 340px;
}

.footorblock5 {
  line-height: 40px;
  padding-left: 24px;
  margin-right: 45px;
}

.flexdownfooter {
  display: flex;
  margin-top: 24px;
  border-top: 1px solid #5F626B;
  width: 100%;
  height: 62px;
  background-color: #333640;
  justify-content: center;
}

.bxl-facebook {
  margin-right: 12px;
}

.footer__logo-pic1 {
  display: none;
}

.textdownfooter {
  font-size: 14px;
  line-height: 18px;
  color: #9EA1A7;
  position: absolute;
  left: 39px;
  margin-top: 7px;
}

.footerpayment {
  position: absolute;
  left: 27.3%;
  padding-top: 20px;
}

.logocompanies {
  position: absolute;
  left: 59.77%;
  padding-top: 17px;
}

.footersupport {
  position: absolute;
  right: 39px;
  margin-top: 32px;
}

.blockflex {
  width: 899px;
  height: 152px;
  margin: auto;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  position: fixed;
  margin: 38px 0 0 -48%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -6px;
}

.menu__btn > span::after {
  content: '';
  top: 6px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 340px;
  padding: 0px 0;
  margin-top: 72px;
  list-style: none;
  background-color: #21232E;
  transition-duration: .25s;
}

.conteiner_menu__item {
  display: flex;
  padding: 12px 24px;
  color: #9EA1A7;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  text-decoration: none;
  transition-duration: .25s;
}

.menu_list_information {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
  padding-left: 0px;
}

.menu__item:hover {
  background-color: #21232E;
}

.catalog__header {
  padding-left: 227px;
}

.prodyct_item {
  padding-top: 125px;
  padding-left: 81px;
}

.catalog_header_text {
  color: white;
  align-items: center;
  text-decoration: none;
}

.error404 {
  display: flex;
  margin: auto;
  margin-top: 124px;
  margin-bottom: 45px;
}

.error404text {
  display: flex;
  margin: auto;
  margin-bottom: 32px;
  width: 301px;
  height: 48px;
  text-align: center;
}

.footertextdecoration {
  text-decoration: none;
  color: #e5e6e7;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 0px;
  }
}